<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Account Opening Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/styles.css">
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body onload = "getUrl()">
<div>
        <form style="margin-left: 100; margin-top: 50;" name="credentials" th:action="@{/credentials}" th:object="${credentials}" id="credentials" method="post">
        	<h1 class="header2" style="text-align: left;">Enter Account Information</h1>
        	
        	<hr>
        	<div class="form-group">	
        		<label style="font-size: 12; float: left; width: 190;">
        			User ID:
        		</label>
				<input class="textbox form-input" id="username" th:field="*{username}" type="text" style="margin-left: 40" required autofocus/>
				<div th:text="${usernameError}" class="valid-error"></div>
        	</div>
        	
        	<hr>
			<div class="form-group">
				<label style="font-size: 12; display: inline-block;">
	        		Password: 
	        	</label>
				<input id="password" th:field="*{password}" class="textbox form-input" type="password" maxlength="20" style="margin-left: 160" required />
				<span th:if="${#fields.hasErrors('password')}" class="valid-error" th:errors="*{password}"></span>
				<div th:text="${passwordError}" class="valid-error"></div>			
			</div>
			
			<hr>
			<div class="form-group">
				<label style="font-size: 12; display: inline-block;">
	        		Confirm Password: 
	        	</label>
				<input id="confirm" th:field="*{confirm}" class="textbox form-input" type="password" maxlength="20" style="margin-left: 110" required />
				<span th:if="${#fields.hasErrors('confirm')}" class="valid-error" th:errors="*{confirm}"></span>
				<div th:text="${confirmError}" class="valid-error"></div>
			</div>
			
			<input class="btn btn-submit" type="submit" value="Continue" />
			<a id="cancel" class="link" onclick="return confirm('Are you sure you would like to cancel? All data will be lost.')">Cancel</a>
        </form>        
    </div>
</body>
</html>

<script type="text/javascript">
	function getUrl(){
		var url = window.location.href;
		url = url.substring(0, url.lastIndexOf("/")-4)+"8082";
		document.getElementById("cancel").setAttribute("href", url);
	}
</script>