<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html: charset=UTF-8" />
	<title>Open an Online Bank Account Today</title>
	<link rel= "stylesheet" href="/css/styles.css" type="text/css">
	<link rel="icon" type="image/jpg" href="/external/icon.png">
	<script type="text/javascript" src="/js/main.js"></script>
</head>             
       
       <span id = "logo" class="header">
             ROCKSTAR BANKING
       </span>
       
       <body class="home-body">
             <p class="text">Everything you want from a bank, without ever setting foot in one.</p>
             
             
             <br>
             <br>
             <br>
             <br>
             <br>
       </body>
       
       <a href="/verification"><input type="button" value="Create Account" class="btn btn-submit" /></a>
       
       
       <div class = "footer">
             <p>Posted by: Capgemini New Hires</p>
       </div>
</html>
