<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Account Locked</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div align="center">
			<br><br>
			<p><b>Invalid attempt count exceeds Limit of 6!</b></p>
			<p style="color:red;"><b>Account Locked!</b></p>
			<p><b>Please Contact Customer care for further information!</b></p>
			<br><br>
			<a class="link" href="/">Home</a>
		</div>
	</body>
</html>