<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Success</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body onload="getUrl()">
	<br />
	<br />
		<div align="center">
		<img src="external/user_information.png" width="40" height="40"  />
			<p><b>Account Summary:</b></p>
			<div align="center">
				<div class="form-group">	
	        		<label style="font-size: 12; float: center; width: 190;">
	        			Account Number:
	        		</label> 
	        		<div th:text="${accountDetails.accNumber}" class=""></div>
	        		<br />
	        	</div>
				<div class="form-group">	
	        		<label style="font-size: 12; float: center; width: 190;">
	        			Account Type:
	        		</label>
					<div th:text="${accountDetails.accType}" class=""></div>
					<br />
				</div>
				<div class="form-group">	
	        		<label style="font-size: 12; float: center; width: 190;">
	        			Balance:
	        		</label>
					<div th:text="${accountDetails.balance}" class=""></div>
					<br />
				</div>
				<div class="form-group">	
	        		<label style="font-size: 12; float: center; width: 190;">
	        			Customer ID:
	        		</label>
					<div th:text="${accountDetails.customerId}" class=""></div>
					<br />
					<br />
				</div>
				<a id="logout" href="/logout"><button class="btn btn-submit">Logout</button></a>
			</div>
		</div>
	</body>
</html>

<script type="text/javascript">
	function getUrl(){
		var url = window.location.href;
		url = url.substring(0, url.lastIndexOf("/")-4)+"8082";
		document.getElementById("logout").setAttribute("href", url);
	}
</script>