<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Account Opening Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/styles.css">
	<script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
	<div>
        <form style="margin-left: 100; margin-top: 50;" action="#" th:action="@{/verification}" th:object="${client}" name="verifyForm" id="verifyForm" method="post">
        	<h1 class="header2" style="text-align: left;">Enter Account Information</h1>
        	<hr>
        	<div class="form-group">
        		<label style="font-size: 12; float: left; width: 190;">
        			Please enter your Rockstar
        			Bank Account Number
        		</label>
				<input class="textbox form-input" id="accNum" th:field="*{accNum}" type="text" style="margin-left: 40" placeholder="e.g. 1234567890123456" autofocus/>
				<div th:text="${accNumError}" class="valid-error"></div>
        	</div>
        	<hr>
			<h1 class="header2" style="text-align: left;">Personal Security Information</h1>
			<label style="font-size: 12; display: inline-block;">
        		Social Security Number
        	</label>
			<div class="ssn form-group" style="margin-left: 91">
				<input id="ssn1" name="ssn1" class="ssn" type="password" style="width: 45;" placeholder="XXX" maxlength="3" onKeyup="autotab(this, document.verifyForm.ssn2); generateSSN()" required/>
				<label>-</label>
				<input id="ssn2" name="ssn2" class="ssn" type="password" style="width: 30;" placeholder="XX" maxlength="2" onKeyup="autotab(this, document.verifyForm.ssn3); generateSSN()" required/>
				<label>-</label>
				<input id="ssn3" name="ssn3" class="ssn" type="password" style="width: 60;" placeholder="XXXX" maxlength="4" onKeyup="generateSSN()" required/>
			</div>
			<div th:text="${ssnError}" class="valid-error"></div>
			<input id="ssn" th:field="*{ssn}" class="textbox" hidden="true" />
			
			<div class="form-group">
				<label style="font-size: 12; display: inline-block;">
        			Date of Birth
        		</label>
				<input id="dob" th:field="*{dob}" class="textbox" type="date" style="margin-left: 230" />
				<div th:text="${dobError}" class="valid-error"></div>
			</div>
			
			<div class="form-group">
				<label style="font-size: 12; display: inline-block;">
	        		Mother's Maiden Name
	        	</label>
				<div><input id="motherMName" th:field="*{maiden}" class="textbox" type="text" style="margin-left: 230" />
				<div th:text="${maidenError}" class="valid-error"></div>
			</div>
			
			<hr>
			<input class="btn btn-submit" type="submit" value="Continue" />
			<a class="link" onclick="return confirm('Are you sure you would like to cancel? All data will be lost.')" href="/">Cancel</a>
        </form>      
          
    </div>
</body>
</html>